h1 {
  font-size: 4rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  span {
    font-weight: bolder;
    color: black;
  }
  &::after {
    content: "";
    position: absolute;
    width: 1rem;
    border-radius: 50%;
    height: 1rem;
    right: -1.4rem;
    bottom: 2rem;
    background-color: var(--greenish-col);
  }
}
