.similar_food {
  width: 100%;
  height: auto;
  .similar_food_wrapper {
    width: 1100px;
    height: auto;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .similar_food_header {
      width: 100%;
      h2 {
        font-size: 4rem;
        color: var(--dark-greenish-col);
      }
    }
    .similar_food_names {
      width: 100%;
      height: 8rem;
      display: flex;
      align-items: center;
      margin: 1.3rem 0;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      .similar_food_names_img {
        width: 7rem;
        height: 7rem;
        margin-right: 3rem;
        transition: all 200ms linear;
        &:hover {
          height: 50vh;
          width: 50%;
          z-index: 22;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      h2 {
        font-size: 2.4rem;
        text-transform: capitalize;
        cursor: pointer;
        font-weight: 500;
        transition: all 100ms linear;
        &:hover {
          color: var(--dark-greenish-col);
        }
      }
    }
    .similar_food_more_btn {
      width: 100%;
      height: 10rem;

      display: flex;
      align-items: center;
      justify-content: center;
      .similar_food_btn {
        width: 30rem;
        height: 4rem;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .similar_food_btn_left {
          height: 3rem;
          width: 3rem;
          margin-right: 2rem;
          background-image: url("../../../public/images/loaderbtn.svg");
          background-repeat: no-repeat;
          background-position: 50%;
        }
        .animate {
          animation: loading 1s ease infinite forwards;
        }
        .similar_food_btn_right {
          font-size: 1.8rem;
          color: rgba(0, 0, 0, 0.7);
          font-weight: bolder;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .similar_food {
    .similar_food_wrapper {
      width: 95%;
    }
  }
}
